*.iml
.gradle
PainRate/local.properties
PainRate/.idea/caches
PainRate/.idea/libraries
PainRate/.idea/modules.xml
PainRate/.idea/workspace.xml
PainRate/.idea/navEditor.xml
PainRate/.idea/assetWizardSettings.xml
.DS_Store
PainRate/build
PainRate/captures
.externalNativeBuild
.cxx
local.properties
PainRate/.idea/shelf/
PainRate/.idea/workspace.xml
PainRate/app/build